<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Challenge 1">
        <groups>
            <run>
                <include name="ChallengeGroup"/>
            </run>
        </groups>
        <classes>
            <class name="EcomProductListingandPagination.ListingAndPaginationTestCases">
                <methods>
                    <exclude name="PLP_02"/>
                    <include name="PLP_03"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>